body {
    background-color: blueviolet;
    color: white;
}

.jumbotron {
    background: rgb(75, 0, 130);
    color: white;
}

.card {
    background-color: purple;
    height: 300px;
    transition: transform 0.2s ease-in-out;
    color: white;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
